* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#telephone {
  width: 300px;
  height: 95vh;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(parallax_865.jpg);
  background-position: center;
  background-size: cover;
  outline: 12px solid black;
}

.head {
  border-radius: 20px 20px 0 0;
  background: black;
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}

.hautParl {
  height: 10px;
  width: 80px;
  border: 1px solid rgb(117, 98, 98);
  border-radius: 5px;
}

.selfie {
  height: 10px;
  width: 20px;
  border: 1px solid rgb(117, 98, 98);
  border-radius: 5px;
}

.head1 {
  border-radius: 0 0 20px 20px;
  background: black;
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  bottom: 0;
  gap: 30px;
}

.btnCarre {
  border: 1px solid white;
  width: 10px;
  height: 10px;
}

.btnCircle {
  border: 1px solid white;
  width: 13px;
  height: 13px;
  border-radius: 60px;
}

.btnTria {
  border: 1px solid white;
  width: 13px;
  height: 13px;
  border-radius: 60px 0 0 60px;
}

.body {
  background-color: transparent;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50px;
}

.body {
  display: flex;
  justify-content: space-between;
}
.operteur {
  color: white;
  padding: 4px 03px;
  font-size: 8px;
  font-family: sans-serif;
}

.resBaHeur {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 10px;
  font-size: 10px;
  color: white;
}

.reseau-parent {
  display: flex;
  gap: 02px;
  flex-direction: row;
  align-items: flex-end;
}

.reseau {
  width: 1.5px;
  height: 2px;
  background-color: white;
}

.reseau1 {
  width: 1.5px;
  height: 5px;
  background-color: white;
}

.reseau2 {
  width: 1.5px;
  height: 8px;
  background-color: white;
}

.reseau3 {
  width: 1.5px;
  height: 10px;
  background-color: white;
}

.batterieBaT {
  width: 20px;
  height: 7px;
  border: 0.1px solid wheat;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.heure {
  display: flex;
}

.SigneBat {
  background-color: green;
  width: 85%;
  height: 7px;
}

#sous-body {
  display: block;
}

.heureke {
  display: flex;
}

#sous-body #heurekely {
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  position: absolute;
  bottom: 28%;
  left: 30%;
  height: 20px;
  width: 60px;
  color: white;
}

#sous-body #heureke {
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  position: absolute;
  bottom: 29%;
  left: 50%;
  height: 20px;
  width: 60px;
  color: white;
}

#sous-body #min {
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  position: absolute;
  bottom: 28%;
  left: 55%;
  height: 20px;
  width: 60px;
  color: white;
}

#sous-body .jour {
  position: absolute;
  bottom: 17%;
  left: 39%;
  height: 20px;
  width: 90px;
  color: white;
}

#sous-body #test {
  position: absolute;
  bottom: 30%;
  left: 39%;
  height: 20px;
  width: 90px;
  color: white;
}

#code {
  width: 100%;
  position: relative;
  top: 40%;
  left: 70px;
  color: white;
  font: 0.9em sans-serif;
  display: none;
}

.ligne {
  background-color: rgb(213, 181, 181);
  height: 1px;
  width: 150px;
  top: 350%;
  position: absolute;
}

.num1 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  top: 450%;
  position: absolute;
  gap: 50px;
}

.num1:hover {
  font-size: 30px;
  background-color: white;
  opacity: 0.4;
  color: #000;
  font-weight: bold;
}

.num1::before {
  content: "1";
}

.num1::after {
  content: "3";
}

.num2 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  top: 750%;
  position: absolute;
  gap: 50px;
}

.num2:hover {
  font-size: 30px;
  background-color: white;
  opacity: 0.4;
  color: #000;
  font-weight: bold;
}

.num2::before {
  content: "4";
}

.num2::after {
  content: "6";
}

.num3 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  top: 1050%;
  position: absolute;
  gap: 50px;
}

.num3:hover {
  font-size: 30px;
  background-color: white;
  opacity: 0.4;
  color: #000;
  font-weight: bold;
}

.num3::before {
  content: "7";
}

.num3::after {
  content: "9";
}

.num4 {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  top: 1350%;
  position: absolute;
  gap: 50px;
}

.num4:hover {
  font-size: 30px;
  background-color: white;
  opacity: 0.4;
  color: #000;
  font-weight: bold;
  font-size: 25px;
}

.num4::before {
  content: "10";
  color: transparent;
}

.num4::after {
  content: "x";
  padding: 6px 10px;
  color: black;
  height: 0px;
  width: 0px;
  font-size: 10px;
  background-color: white;
  position: relative;
  top: 0px;
  right: 10px;
  border-radius: 10px 0 0 10px;
}

.sortir {
  font-family: sans-serif;
  position: absolute;
  top: 280px;
  left: 25px;
  text-transform: uppercase;
  font-size: 12px;
}
